.btnBan{
   color: white;
   font-size: 17px;
   width: 50px;
   background: grey !important;
   cursor: not-allowed;
}
.btnBanned{
   /* background: red !important; */
}
.btnUnbanned{
   /* background: green !important; */
}